html {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

*, *:before, *:after {
    box-sizing: inherit;
}

body {
    background: linear-gradient(to right, rgb(0, 225, 255), rgb(118, 192, 75));
    overflow: hidden;
}

.calculator-grid {
    display: grid;
    justify-content: center;
    align-items: center;
    height: 100vh;
    grid-template-columns: repeat(4, 100px);
    grid-template-rows: minmax(120px, auto) repeat(5, 100px);
}

/* .numbers-field {
    background: rgba(20, 20, 20, 0.822);
    height: 60px;
}

button {
    height: 50px;
    width: 24%;
    border: solid 2px #fff;
    background:rgb(192, 248, 255);
} */
