html {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

*, *:before, *:after {
    box-sizing: inherit;
}

body {
    background: linear-gradient(to right, rgb(0, 225, 255), rgb(118, 192, 75));
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    overflow: hidden;
}

.calculator-grid {
    width: 300px;
    height: 400px;
    text-align: center;
}

.numbers-field {
    background: #000;
}

button {
    height: 80px;
    width: 60px;
    border: solid 2px #fff;
    background:rgb(192, 248, 255);
}
