html {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

*, *:before, *:after {
    box-sizing: inherit;
}

body {
    background: linear-gradient(to right, rgb(0, 225, 255), rgb(118, 192, 75));
    -ms-overflow-style: none;
    scrollbar-width: none;
}

body::-webkit-scrollbar {
    display: none;
}

.calculator-grid {
    display: grid;
    justify-content: center;
    align-content: center;
    min-height: 100vh;
    grid-template-columns: repeat(4, 100px);
    grid-template-rows: minmax(120px, auto) repeat(5, 100px);
}

.numbers-field {
    background-color: rgba(0, 0, 0, 75%);
}

button {
    border: solid 1px #fff;
    background-color:rgba(255, 255, 255, 75%);
    cursor: pointer;
    font-size: 2rem;
    outline: none;
}

button:hover {
    background-color:rgba(255, 255, 255, 90%);
}

.numbers-field {
    grid-column: 1 / -1;
    display: flex;
    justify-content: space-around;
    align-items: flex-end;
    flex-direction: column;
    padding: 10px;
    
}

.all-clear-btn, .equal-operator {
    grid-column: span 2;
}

.previous-operand {
    font-size: 1.5rem;
    color: rgba(255, 255, 255, 75%);
}

.current-operand {
    font-size: 2.5rem;
    color: #fff;
}